<div class="">
    <div class="page-header header-boxshadow">
      <div class="page-block">
        <div class="row align-items-center">

          <div class="col-md-7">
            <div class="page-header-title">
              <span>
                <h4 class="m-b-10 headtext">
                  <a class="" [routerLink]="['/profile']">
                    <i class="" class="fa fa-chevron-left headbackbtn" aria-hidden="true"></i>
                  </a>
                  Resignation
                </h4>
              </span>
            </div>
          </div>  
  
          <div class="col-md-5">
            <a class="btn btn-success float-right btn-sm header-button" [routerLink]="['']">
              <i></i>
              Apply
            </a>
          </div>  
  
        </div>
      </div>
    </div>
</div>





<div class="page-body">
    <div class="container body-pad">
      <div class="row">
        <div class="col-sm-12 body-top-margin">
            <app-card>
              <div class="row">
                <div class="col-sm-7">
                    <div class="m-4">
                        <!-- <div class="row mb-3">
                          <div class="col-sm-3">
                            <p>Approver*</p>
                          </div>
                          <div class="col-sm-9">
                            <select class="form-control">
                                <option value="">--Select--</option>
                                <option>Option-1</option>
                            </select>
                          </div>
                        </div> -->
            
                        <!-- <div class="row mb-3">
                            <div class="col-sm-3">
                              <p>Leave Type</p>
                            </div>
                            <div class="col-sm-9">
                              <select class="form-control">
                                  <option value="">--Select--</option>
                                  <option>Option-1</option>
                              </select>
                            </div>
                        </div> -->
            
                        <div class="row mb-3">
                            <div class="col-sm-3">
                              <p>Registration Date </p>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">
                                <div class="col-sm-6">
                                    <input type="date" class="form-control"> 
                                </div>
                                <div class="col-sm-6">
                                    <!-- <input type="date" class="form-control">  -->
                                </div>
                              </div>                                      
                            </div>
                        </div>
            
                        <div class="row mb-3">
                            <div class="col-sm-3">
                              <p>Remark</p>
                            </div>
                            <div class="col-sm-9">
                              <input type="text" class="form-control">                     
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                              <p>Notice Period </p>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" value="60"> 
                                </div>
                                <div class="col-sm-6">
                                    <p>Days</p>
                                </div>
                              </div>                                      
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                              <p>Last Working Date</p>
                            </div>
                            <div class="col-sm-9">
                              <div class="row">
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" value="60"> 
                                </div>
                                <div class="col-sm-6">
                                    <!-- <p>Days</p> -->
                                </div>
                              </div>                                      
                            </div>
                        </div>
            
                        <!-- <div class="row mb-3">
                            <div class="col-sm-3">
                              <p>Substitute</p>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option value="">--Select--</option>
                                    <option>Option-1</option>
                                </select>                                   
                            </div>
                        </div> -->
            
                        <div class="row">
                            <div class="col-sm-3">
                              <p>Attachments</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="upload-btn-wrapper">
                                    <button class=" btn btn-primary upload-button">Choose File</button>
                                    <input type="file" name="myfile" />
                                </div>                                    
                            </div>
                        </div>
            
                      </div>
                </div>



                <div class="col-sm-5"></div>
              </div>
            </app-card>
        </div>
      </div>
    </div>
</div>        
