<div class="">
    <div class="page-header header-boxshadow">
      <div class="page-block">
        <div class="row align-items-center">
  
          <div class="col-md-7">
            <div class="page-header-title">
              <span>
                <h4 class="m-b-10 headtext">
                  <a class="" [routerLink]="['/employees/home']">
                    <i class="" class="fa fa-chevron-left headbackbtn" aria-hidden="true"></i>
                  </a>
                  John Doe
                </h4>
              </span>
            </div>
          </div>  
  
          <div class="col-md-5">
            <a class="btn btn-light float-right btn-sm header-button table-action-btn" [routerLink]="['/profile/edit']">
              <i></i>
              Edit
            </a>
          </div>  
  
        </div>
      </div>
    </div>
</div>





<div class="page-body">
    <div class="container body-pad">
      <div class="row">

        <div class="col-sm-3 body-top-margin">
          <!-- <app-card> -->
          <div style="box-shadow: 1px 2px 5px #e0e0e0;">
            <div class="text-center" style="background: #ffffff; padding-top: 20px;">
              <img src="assets/images/avatar-4.jpg" alt="" class="img-100 rounded">
            </div>

            <div class="text-center p-3" style="background: #ffffff;">
                <p class="mb-1"><strong>Name : John Doe</strong></p>
                <p class="mb-1"><strong>Code : XYZ123</strong></p>
                <p class="mb-1"><strong>Division : A</strong></p>
                <p class="mb-1"><strong>Designation : Manager</strong></p>
                <p class="mb-1"><strong>Department : Sales</strong></p>
                <p class="mb-1"><strong>Location : Mumbai</strong></p>
                <p><strong>Mobile : +91 9876589745</strong></p>
            </div>
          </div>
          <!-- </app-card> -->
        </div>

        
        <div class="col-sm-9 body-top-margin">
          <!-- <app-card> -->
                <div class="md-tabs">
                  <ngb-tabset>

                    <ngb-tab title="Personal">
                      <ng-template ngbTabContent >
                        <div [@fadeInOutTranslate] class="m-t-5 bg-white">
                          <div class="m-4 p-3">

                            <div class="row mt-4">
                              <div class="col-sm-3">
                                <p>Company Name</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ Company</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Employee Code</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ049</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Title</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>Mr.</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>First Name</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>John</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Last Name</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>Doe</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Address</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>70 Bowman St. South Windsor, CT 06074</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Tel No.</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>+91 12557887</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>+91 8985655475</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Email ID</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>johndoe@gmail.com</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Gender</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>Male</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Date of Birth</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>22/10/1988</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Nationality</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>American</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Religion</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>Judaism</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Blood Group</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>B+</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Personal ID Card No.</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>HGTFER123</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>ID Card Expiry Date</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>03/2022</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Passport No.</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>HGTTRFF321</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Passport Expiry Date</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>28/05/2025</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Social Security No.</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>587-56-5854</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Bank Code</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>SBI012876677</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Bank Account No.</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>230025487</p>
                                </div>
                            </div>

                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
    
                    <ngb-tab title="Professional">
                      <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15 bg-white">
                          <div class="m-4 p-3">
                            
                            <div class="row mt-4">
                              <div class="col-sm-3">
                                <p>Source of Recruitment</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ Company</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Status of work</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ Company</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Job Title</p>
                              </div>
                              <div class="col-sm-9">
                                <p></p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Employment Type</p>
                              </div>
                              <div class="col-sm-9">
                                <p></p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Official Email</p>
                              </div>
                              <div class="col-sm-9">
                                <p></p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Date of Joining</p>
                              </div>
                              <div class="col-sm-9">
                                <p>14/07/2003</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Probation Pass Date</p>
                              </div>
                              <div class="col-sm-9">
                                <p>11/07/2003</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Employment End Date</p>
                              </div>
                              <div class="col-sm-9">
                                <p>11/07/2033</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Branch</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Division</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Department</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Section</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Sub-Section</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Location</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Level</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Occupation Group</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Business Unit</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Cost Center</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                              <div class="col-sm-3">
                                <p>Custom Group</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>
    
                          <!-- </p> -->
                          </div>
                        </div>  
                      </ng-template>
                    </ngb-tab>
    
                    <ngb-tab title="Insurence/Tax">
                      <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15 bg-white">
                          <div class="m-4 p-3">

                            <div class="row mt-4">
                              <div class="col-sm-3">
                                <p>PF ID</p>
                              </div>
                              <div class="col-sm-9">
                                <p>XYZ</p>
                              </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>PF effective date</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Tax Status of Spouce</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>No. of Childrens</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>YTD SSO</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>YTD Tax</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>YTD Taxable Income</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Previous Salary</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Previous YTD Tax</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Previous SSO</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-3">
                                  <p>Income Tax Method</p>
                                </div>
                                <div class="col-sm-9">
                                  <p>XYZ</p>
                                </div>
                            </div>

                          <!-- </p> -->
                          </div>
                        </div>  
                      </ng-template>
                    </ngb-tab>
    
                    <ngb-tab title="Allocation">
                      <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15 bg-white">
                          <div class="m-0">
                              <div class="row">
                                  <div class="col-md-12">
                                    <squeezebox [multiple]="false">
                
                                      <sb-item [collapsed]="true" class="accordion-panel">
                                        <!-- <sb-item-head class="accordion-heading accordion-msg">            
                                          Paycode Allocation
                                        </sb-item-head> -->
                                        <sb-item-head class="accordion-heading accordion-msg">
                                          Paycode Allocation
                                        </sb-item-head>
                
                                        <sb-item-body class="accordion-content">
                                          <div class="accordion-desc">         
                              
                                            <div class="row">
                                              <div class="col-sm-12">
                                                <div class="row">
                
                                                <div class="col-sm-6" style="padding: 0px !important;">
                                                  <label>Paycodes List</label>
                                                  <div style="border-top: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0;" class="p-3">
                                                  <div class="">
                                                  <label class="container-checkbox">BSC
                                                        <input type="checkbox" >
                                                        <span class="checkmark-checkbox"></span>
                                                    </label>
                                                  </div>
                                                  <div class="">
                                                      <label class="container-checkbox">OT1
                                                          <input type="checkbox" >
                                                          <span class="checkmark-checkbox"></span>
                                                      </label>
                                                    </div>
                
                                                    <div class="">
                                                        <label class="container-checkbox">BNS1
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                                                      </div>
                                                    <div class="">
                                                        <label class="container-checkbox">BNS2
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                                                         
                                                    </div>
                                                    <div class="">
                                                        <label class="container-checkbox">ML
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                                                    </div>
                                                    <div class="">
                                                        <label class="container-checkbox">TA
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                
                                                    </div>
                                                    <div class="">
                                                        <label class="container-checkbox">BSC
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                                                       
                                                    </div>
                                                    <div class="">
                                                        <label class="container-checkbox">BSC
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                
                                                    </div>
                                                    <div class="">
                                                        <label class="container-checkbox">BSC
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                
                                                    </div>
                                                    <div class="">
                                                        <label class="container-checkbox">BSC
                                                            <input type="checkbox" >
                                                            <span class="checkmark-checkbox"></span>
                                                        </label>
                                                    </div>
                                                  </div>
                
                                                </div>
                
                
                                                <div class="col-sm-6" style="padding: 0px !important;">
                                                  <label>Allocated Paycode</label>
                                                  <div style="border-top: 1px solid #e0e0e0;" class="p-3">
                                                  <div class="mb-3">
                                                      <label class="border-checkbox-label" for="checkbox0">BSC</label>
                                                      <input type="text" class="w-25 pull-right form-control" value="6000">
                                                  </div>
                                                  <div class="mb-3">
                                                      <label class="border-checkbox-label" for="checkbox0">OT1</label>
                                                      <input type="text" class="w-25 pull-right form-control" value="6000">
                                                  </div>
                                                  <div class="mb-3">
                                                      <label class="border-checkbox-label" for="checkbox0">BNS1</label>
                                                      <input type="text" class="w-25 pull-right form-control" value="6000">
                                                  </div>
                                                  <div class="mb-3">
                                                      <label class="border-checkbox-label" for="checkbox0">ML</label>
                                                      <input type="text" class="w-25 pull-right form-control" value="6000">
                                                  </div>
                                                  <div class="mb-3">
                                                      <label class="border-checkbox-label" for="checkbox0">TA</label>
                                                      <input type="text" class="w-25 pull-right form-control" value="6000">
                                                  </div>
                                                  </div>
                                                </div>
                
                                                </div>
                                              </div>
                                            </div>
                                            
                                          </div>
                                        </sb-item-body>
                                      </sb-item>
                
                
                              
                              
                                      <sb-item class="accordion-panel">
                                        <sb-item-head class="accordion-heading accordion-msg">
                                          Shift Allocation
                                        </sb-item-head>
                                        <sb-item-body class="accordion-content">
                                          <div class="accordion-desc">
                                            
                                            
                                              <div class="row">
                                                  <div class="col-sm-10 offset-sm-1">
                                                    <div class="row">
                    
                                                    <div class="col-sm-6">
                                                      <p>Shift/Overtime List</p>
                    
                                                      <div class="">
                                                          <label class="container-checkbox">OT1
                                                              <input type="checkbox" >
                                                              <span class="checkmark-checkbox"></span>
                                                          </label>
                
                                                      </div>
                                                        <div class="">
                                                            <label class="container-checkbox">OT2
                                                                <input type="checkbox" >
                                                                <span class="checkmark-checkbox"></span>
                                                            </label>
                                                        </div>
                    
                                                        <div class="">
                                                            <label class="container-checkbox">S1
                                                                <input type="checkbox" >
                                                                <span class="checkmark-checkbox"></span>
                                                            </label>
                
                                                        </div>
                                                        <div class="">
                                                            <label class="container-checkbox">S2
                                                                <input type="checkbox" >
                                                                <span class="checkmark-checkbox"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                    
                    
                                                    <div class="col-sm-6"></div>
                    
                                                    </div>
                                                  </div>
                                                </div>
                              
                              
                                          </div>
                                        </sb-item-body>
                                      </sb-item>
                
                
                
                              
                              
                                      <sb-item class="accordion-panel">
                                        <sb-item-head class="accordion-heading accordion-msg">
                                          Leave Allocation
                                        </sb-item-head>
                                        <sb-item-body class="accordion-content">
                                          <div class="accordion-desc">                
                    
                                              <div class="row">
                                                  <div class="col-sm-12">
                                                    <div class="row">
                                                      
                
                                                      <table>
                                                          <tr>
                                                            <th width="">Product List</th>
                                                            <th>Allocated Paycoce</th>
                                                          </tr>
                                                          <tr>
                                                            
                                                          </tr>
                                                      </table>
                                                    <div class="col-sm-6">
                                                      <p>Leaves List</p>
                    
                                                      <div class="">
                                                          <label class="container-checkbox">AB
                                                              <input type="checkbox" >
                                                              <span class="checkmark-checkbox"></span>
                                                          </label>
                
                                                      </div>
                
                                                      <div class="">
                                                          <label class="container-checkbox">SL
                                                              <input type="checkbox" >
                                                              <span class="checkmark-checkbox"></span>
                                                          </label>
                
                                                      </div>
                                                    </div>
                    
                    
                                                    <div class="col-sm-6"></div>
                    
                                                    </div>
                                                  </div>
                                                </div>
                              
                                          </div>
                                        </sb-item-body>
                                      </sb-item>
                                    </squeezebox>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>
    
                    <ngb-tab title="Permissions">
                      <ng-template ngbTabContent>
                        <div [@fadeInOutTranslate] class="m-t-15 bg-white p-b-5">
                          <div class="m-4">
                            <div class="row">
                              <div class="col-md-12">
                                <squeezebox [multiple]="false">
                    
                                  <sb-item [collapsed]="true" class="accordion-panel">
                                    <sb-item-head class="accordion-heading accordion-msg">
                                      Leave Flow
                                    </sb-item-head>
                    
                                    <sb-item-body class="accordion-content">
                                      <div class="accordion-desc">
                    
                                        <div class="row">
                                          <div class="col-sm-10 offset-sm-1">
                    
                                            <div class="row">
                                              <div class="col-sm-2">
                                                <label>Approval Flow: </label>
                                              </div>
                                              <div class="col-sm-10">
                                                <div>
                                                  <label>Approval 1 </label>
                                                  <label for="">
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Approval 2 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Approval 3 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                    
                    
                                            <div class="row">
                                              <div class="col-sm-2">
                                                <label>Notification Recipient: </label>
                                              </div>
                                              <div class="col-sm-10">
                                                <div>
                                                  <label>Recipient 1 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Recipient 2 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Recipient 3 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                    
                                          </div>
                                        </div>
                    
                                      </div>
                                    </sb-item-body>
                                  </sb-item>
                    
                                  <sb-item class="accordion-panel">
                                    <sb-item-head class="accordion-heading accordion-msg">Shift Flow
                                    </sb-item-head>
                                    <sb-item-body class="accordion-content">
                                      <div class="accordion-desc">
                    
                                        <div class="row">
                                          <div class="col-sm-10 offset-sm-1">
                    
                                            <div class="row">
                                              <div class="col-sm-2">
                                                <label>Approval Flow: </label>
                                              </div>
                                              <div class="col-sm-10">
                                                <div>
                                                  <label>Approval 1 </label>
                                                  <label for="">
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Approval 2 </label>
                                                  <label for="">
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Approval 3 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                    
                    
                                            <div class="row">
                                              <div class="col-sm-2">
                                                <label>Notification Recipient: </label>
                                              </div>
                                              <div class="col-sm-10">
                                                <div>
                                                  <label>Recipient 1 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Recipient 2 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                                <div>
                                                  <label>Recipient 3 </label>
                                                  <label>
                                                    <select name="select" class="form-control">
                                                      <option>--Select--</option>
                                                    </select>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                    
                                          </div>
                                        </div>
                    
                                      </div>
                                    </sb-item-body>
                                  </sb-item>
                                </squeezebox>
                              </div>
                    
                              <!-- <div class="col-sm-12 mt-10 text-right float-lg-right">
                                            <button type="button" class="btn btn-primary btn-sm mt-auto header-button" nextStep>Save &
                                              Continue</button>
                                          </div> -->
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ngb-tab>

                    <ngb-tab title="">
                        <ng-template ngbTabContent>
                          <div [@fadeInOutTranslate] class="m-t-15">
                            <div class="m-4">
    
                            </div>
                          </div>
                        </ng-template>
                    </ngb-tab>
                        
                  </ngb-tabset>
                </div>

                <div style="position:absolute; top: 0px; right: 16px;">
                    <div ngbDropdown class="dropdown-primary">
      
                        <a ngbDropdownToggle class="morebutton">More </a>
      
                        <div ngbDropdownMenu>
                          <a class="dropdown-item ripple light" [routerLink]="['/profile/salary']">Salary</a>
                          <a class="dropdown-item ripple light" [routerLink]="['/profile/time/in-out-details']">Time</a>
                          <a class="dropdown-item ripple light" [routerLink]="['/profile/leave']">Leave</a>
                          <!-- <div class="dropdown-divider"></div> -->
                          <a class="dropdown-item ripple light" [routerLink]="['/profile/attendance']">Attendance</a>
                        </div>
      
                    </div>
                </div>
          <!-- </app-card> -->
        </div> 

      </div>
    </div>
</div>
