<div class="">
    <div class="page-header header-boxshadow">
      <div class="page-block">
        <div class="row align-items-center">

          <div class="col-md-7">
            <div class="page-header-title">
              <span>
                <h4 class="m-b-10 headtext">
                  <a class="" [routerLink]="['/application/home']">
                    <i class="" class="fa fa-chevron-left headbackbtn" aria-hidden="true"></i>
                  </a>
                  Sick Leave
                </h4>
              </span>
            </div>
          </div>  
        </div>
      </div>
    </div>
</div>





<div class="page-body">
    <div class="container body-pad">
      <div class="row">
        <div class="col-sm-12 body-top-margin">
          <app-card>

            <div class="row mb-1">
              <div class="col-sm-2">
                <p>Approver</p> 
              </div>

              <div class="col-sm-10">
                <p>John Doe</p>
              </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2">
                  <p>Leave Type</p> 
                </div>
  
                <div class="col-sm-10">
                  <p>Sick Leave</p>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2">
                  <p>Leave</p> 
                </div>
  
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-sm-2">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <input type="date" class="form-control">
                    </div>
                    <!-- <div class="col-sm-8"></div> -->
                  </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2">
                  <p>Remark</p> 
                </div>
  
                <div class="col-sm-10">
                  <p>Hospitalize due to dengue</p> 
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2">
                  <p>Substitute</p> 
                </div>
  
                <div class="col-sm-10">
                  <p>xyz abc</p> 
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-sm-2">
                  <p>Attachments</p> 
                </div>
  
                <div class="col-sm-10">
                  <p>hospitalreports.pdf</p> 
                </div>
            </div>

          </app-card>
        </div>
      </div>
    </div>
</div>              
