<div class="">
  <div class="page-header header-boxshadow">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="page-header-title">
            <span>
              <h4 class="m-b-10 headtext">
                <a class="h4" [routerLink]="['/config/home']">
                  <i class="" class="fa fa-chevron-left headbackbtn" aria-hidden="true"></i>
                </a>
                Predefined Paycode
              </h4>
            </span>
          </div>
        </div>
        <div class="col-md-5">
          <a class="btn btn-success float-right btn-sm ml-1 header-button-2" [routerLink]="['/config/create-paycode']">
            <i></i>
            Add Selected Paycode
          </a>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="page-body body-padding">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <div class="row">
          <div class="col-sm-6">
              <div>
                <label class="label-control">
                  <select class="form-control" name="select">
                    <option value="opt1">Bulk Actions</option>
                    <option value="opt2">Delete</option>
                    <option value="opt2">Change</option>
                  </select>
                </label>
                <button type="button" class="btn btn-light datatable-button shadow">Apply</button>
              </div>
          </div>
  
          <div class="col-sm-3 offset-sm-3">
              <div class="form-group has-feedback has-search">
                <i class="fa fa-search form-control-feedback"></i>
                <input type="text" [(ngModel)]="filterQuery" class="form-control shadow border-rm" placeholder="Search">
              </div>
          </div>
      </div>
      <ngx-datatable class="data-table fullscreen" [columnMode]="'force'" [scrollbarH]="true" [headerHeight]="50"
        [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="rows">


        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">

          <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <div class="checkbox-fade fade-in-default datatable-header-cell-label">
              <label>
                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              </label>
            </div>
          </ng-template>

          <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="checkbox-fade fade-in-default datatable-header-cell-label">
              <label>
                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              </label>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="100" name="Paycode"></ngx-datatable-column>
        <ngx-datatable-column name="Description"></ngx-datatable-column>
        <ngx-datatable-column name="Type"></ngx-datatable-column>
        <ngx-datatable-column name="Taxable"></ngx-datatable-column>
        <ngx-datatable-column [width]="80" [sortable]="false" name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-light">View</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    </div>
  </div>
</div>
