<div class="">
    <div class="page-header header-boxshadow">
      <div class="page-block">
        <div class="row align-items-center">

          <div class="col-md-7">
            <div class="page-header-title">
              <span>
                <h4 class="m-b-10 headtext">
                  <a class="" [routerLink]="['/profile']">
                    <i class="" class="fa fa-chevron-left headbackbtn" aria-hidden="true"></i>
                  </a>
                  Change Password
                </h4>
              </span>
            </div>
          </div>  
  
          <div class="col-md-5">
            <a class="btn btn-success float-right btn-sm header-button" [routerLink]="['/config/home']">
              <i></i>
              Change
            </a>
          </div>  
  
        </div>
      </div>
    </div>
</div>





<div class="page-body">
    <div class="container body-pad">
      <div class="row">
        <div class="col-sm-12 body-top-margin">
            <app-card>
              <div class="row">
                <div class="col-sm-7">
                    <div class="m-4">
            
            
                        <div class="row mb-3">
                            <div class="col-sm-4">
                              <p>Old Password</p>
                            </div>
                            <div class="col-sm-8">
                              <input type="text" class="form-control">                     
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-4">
                              <p>New Password</p>
                            </div>
                            <div class="col-sm-8">
                              <input type="text" class="form-control">                     
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-4">
                              <p>Confirm Password</p>
                            </div>
                            <div class="col-sm-8">
                              <input type="text" class="form-control">                     
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-sm-4">
                              <!-- <p>Confirm Password</p> -->
                            </div>
                            <div class="col-sm-8">
                              <p class="text-danger">Your Password has changed successfully !</p>                     
                            </div>
                        </div>

                        
            
                      </div>
                </div>



                <div class="col-sm-5"></div>
              </div>
            </app-card>
        </div>
      </div>
    </div>
</div>        


