<div id="pcoded" class="pcoded" [ngClass]="animateSidebar" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout"
  [attr.vertical-placement]="verticalPlacement" [attr.vertical-layout]="verticalLayout" [attr.pcoded-device-type]="pcodedDeviceType"
  [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vnavigationView"
  [attr.fream-type]="freamType" [attr.sidebar-img]="sidebarImg" [attr.sidebar-img-type]="sidebarImgType"
  [attr.layout-type]="layoutType" (window:resize)="onResize($event)">

  <div class="pcoded-container">
    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">      
      <div class="pcoded-wrapper">

        <nav id="main_navbar" class="pcoded-navbar" (clickOutside)="onClickedOutsideSidebar($event)" [exclude]="'#mobile-collapse'"
          [attr.navbar-theme]="navBarTheme" [attr.active-item-theme]="activeItemTheme" sub-item-theme="theme2"
          active-item-style="style0" [attr.pcoded-header-position]="pcodedHeaderPosition" [attr.pcoded-navbar-position]="pcodedSidebarPosition"
          [style.top]="headerFixedTop" [style.height]="sidebarFixedNavHeight" (mouseleave)="hoverOutsideSidebar()">
          <div [style.max-width]="'235px'"  [config]="config"
            [ngClass]="perfectDisable" >
            <div class="main-menu" appAccordion >
              <div class="" >
                <div class="main-menu-header" >
                  <img class="img-menu-user img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">                  
                </div>
              </div>




              <div *ngFor="let asideItems of menuItems.getAll()" class="d-color">
                <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder" [attr.item-border-style]="itemBorderStyle"
                  [attr.subitem-border]="subItemBorder" *ngFor="let asideItem of asideItems.main" appAccordionLink
                  group="{{asideItem.state}}">

                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}">
                      <a [routerLinkActive]="['active']" class="ripple" 
                      [routerLink]="[asideItem.link]" appAccordionToggle *ngIf="asideItem.main_state; else mainContent">
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    <ng-template #mainContent>
                      <a [routerLinkActive]="['active']" class="ripple" [routerLink]="[asideItem.link]" appAccordionToggle>
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>


                  <li (mouseleave)="fireClickLeave($event)" [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'"
                    class="pcoded-hasmenu" [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon"
                    appAccordionLink group="{{asideItem.state}}">
                    <a (mouseover)="fireClick($event)" [routerLinkActive]="['active']" [routerLink]="[asideItem.link]"
                      appAccordionToggle>
                      <div class="ripple menu-ripple"></div>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i><b>{{ asideItem.short_label }}</b></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </div>




              
                  <!-- <div class="normal-icon">              
                    <div *ngFor="let asideItems of menuItems.getAll()" class="d-color">
                      <ul class="pcoded-item pcoded-left-item" [attr.item-border]="itemBorder" [attr.item-border-style]="itemBorderStyle"
                        [attr.subitem-border]="subItemBorder" *ngFor="let asideItem of asideItems.main" appAccordionLink
                        group="{{asideItem.state}}">

                        <li (mouseleave)="fireClickLeave($event)" [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub-down'"
                          class="pcoded-hasmenu ripple" [attr.dropdown-icon]="dropDownIcon" [attr.subitem-icon]="subItemIcon"
                          appAccordionLink group="{{asideItem.state}}">

                          <a (mouseover)="fireClick($event)" [routerLinkActive]="['active']" [routerLink]="[asideItem.link]"  appAccordionToggle>
                            <div class="ripple menu-ripple"></div>
                            <span class="pcoded-micon">
                              <i class="{{ asideItem.icon }}"></i>
                              <b>{{ asideItem.short_label }}</b>
                            </span>
                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div> -->


                  <!-- <div class="dropdown" style="float:left;">
                    <button class="dropbtn">Left</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div> -->
                  <!-- <button type="button" class="btn btn-success ripple light" placement="right" ngbTooltip="tooltip on right">right
                    </button> -->
                <div class="left-side-menu">
                  <ul>
                    <li>
                      <i class="fa fa-file-text" aria-hidden="true"></i>                   
                    </li>

                    <li class="dropdown-css">
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                      <ul class="dropdown-content">
                          <li class="menu-dropdown"><a [routerLink]="['/config/home']">Configuration</a></li>
                          <li class="menu-dropdown"><a [routerLink]="['/dashboard/directory']">Directory</a></li>
                        </ul>
                    </li>

                    <li>
                      <i class="fa fa-question-circle"></i>
                    </li>
                    <li class="dropdown-css"><i class="fa fa-user"></i>
                      <ul class="dropdown-content">
                          <li class="menu-dropdown"><a [routerLink]="['/profile/home']">My Profile</a></li>
                          <li class="menu-dropdown"><a [routerLink]="['/profile/registration']">Resignation</a></li>
                          <li class="menu-dropdown"><a [routerLink]="['/profile/change-password']">Change Password</a></li>
                          <li class="menu-dropdown"><a [routerLink]="['/auth/login/simple']">Log Out</a></li>
                        </ul>
                    </li>
                  </ul>
                </div>
                
              <p class="shot-p">Logged in as:</p>
              <p class="shot-p-green">CFHR/Client</p>              
            </div>

            <p class="shot-p-2">Powered By:</p>
            <p class="shot-p-vailot">Cloudforce HR</p>
            <div class="language">
              <a href=""> TH</a> <a href="">EN</a>
            </div>
          </div>
        </nav>


        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">

                <router-outlet>
                  <title></title>
                  <app-spinner></app-spinner>
                </router-outlet>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

