<div id="pcoded" class="pcoded" [ngClass]="animateSidebar" [attr.nav-type]="navType" [attr.theme-layout]="themeLayout"
  [attr.vertical-placement]="verticalPlacement" [attr.vertical-layout]="verticalLayout" [attr.pcoded-device-type]="pcodedDeviceType"
  [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" [attr.vnavigation-view]="vnavigationView"
  [attr.fream-type]="freamType" [attr.sidebar-img]="sidebarImg" [attr.sidebar-img-type]="sidebarImgType"
  [attr.layout-type]="layoutType" (window:resize)="onResize($event)">

  <div class="pcoded-container">
    <div class="pcoded-main-container" [style.margin-top]="headerFixedMargin">      
      <div class="pcoded-wrapper">

      <div class="left-side-container">
        <div class="left-side-all-container">
        <div class="manu-container" >
          <div class="main-menu-header" >
            <img class="img-menu-user img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">                  
          </div>
        </div>
        <div class="main-icons">
          <ul>
            <li>
              <a href=""> <i class="fas fa-home"></i> 
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href=""> <i class="far fa-file-alt"></i>
              <span>Application</span>
              </a>
            </li>
            <li>
              <a href=""> <i class="far fa-calendar-minus"></i>
                <span>Attendance</span>
              </a>
            </li>
            <li>
              <a href=""> <i class="fas fa-user"></i>
              <span>Employees</span>
              </a>
            </li>
            <li>
              <a href=""> <i class="fas fa-money-bill-alt"></i> 
              <span>Payroll</span>
              </a>
            </li>
            <li>
              <a href=""> <i class="fas fa-briefcase"></i>
              <span>Reports</span>
              </a>
            </li>

          </ul>
        </div>
        
        <div class="manu-items">
          <div class="left-side-menu">
            <ul>
              <li>
                <i class="fa fa-file-text" aria-hidden="true"></i>                   
              </li>

              <li class="dropdown-css">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <ul class="dropdown-content">
                    <li class="menu-dropdown"><a [routerLink]="['/config/home']">Configuration</a></li>
                    <li class="menu-dropdown"><a [routerLink]="['/dashboard/directory']">Directory</a></li>
                  </ul>
              </li>

              <li>
                <i class="fa fa-question-circle"></i>
              </li>
              <li class="dropdown-css"><i class="fa fa-user"></i>
                <ul class="dropdown-content">
                    <li class="menu-dropdown"><a [routerLink]="['/profile/home']">My Profile</a></li>
                    <li class="menu-dropdown"><a [routerLink]="['/profile/registration']">Resignation</a></li>
                    <li class="menu-dropdown"><a [routerLink]="['/profile/change-password']">Change Password</a></li>
                    <li class="menu-dropdown"><a [routerLink]="['/auth/login/simple']">Log Out</a></li>
                  </ul>
              </li>
            </ul>
          </div>
          
        <p class="shot-p">Logged in as:</p>
        <p class="shot-p-green">CFHR/Client</p>  
        </div>
        <p class="shot-p-2">Powered By:</p>
        <p class="shot-p-vailot">Cloudforce HR</p>
        <div class="language">
          <a href=""> TH</a> <a href="">EN</a>
        </div>
      </div>
      </div>


        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">

                <router-outlet>
                  <title></title>
                  <app-spinner></app-spinner>
                </router-outlet>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

