<div class="">
  <div class="page-header header-boxshadow">
    <div class="page-block">
      <div class="row align-items-center">

        <div class="col-md-7">
          <div class="page-header-title">
            <span>
              <h4 class="m-b-10 headtext">
                <a class="" [routerLink]="['/config/home']">
                  <i class="" class="fa fa-chevron-left headbackbtn" aria-hidden="true"></i>
                </a>
                Employees
              </h4>
            </span>
          </div>
        </div>  

        <div class="col-md-5"></div>  

      </div>
    </div>
  </div>
</div>






<div class="page-body">
  <div class="container body-pad">
    <div class="row">

      <div class="col-sm-3 offset-sm-9 body-top-margin">
          <div class="form-group has-feedback has-search">
              <i class="fa fa-search form-control-feedback"></i>
              <input type="search" [(ngModel)]="filterQuery" class="form-control shadow border-rm" placeholder="Search">
          </div>
      </div>

      <div class="col-sm-4">
        <app-card>
            <div class="client-detail">
              <div class="row align-items-center" [routerLink]="['/profile']">
                <div class="col-sm-5 client-profile">
                  <img src="assets/images/avatar-4.jpg" alt="" class="img-90 rounded">
                </div>
                <div class="col-sm-7 client-contain">
                    <h6 class="mb-2">Name : John Doe</h6>
                    <h6 class="mb-2">Code : XYZ123</h6>
                    <h6 class="mb-2">Designation : Manager</h6>
                </div>
              </div>  
            </div>
        </app-card>
      </div>

      <div class="col-sm-4">
        <app-card>
            <div class="client-detail">
                <div class="row align-items-center no-gutters" [routerLink]="['/profile']">
                  <div class="col-sm-5 client-profile">
                    <img src="assets/images/avatar-4.jpg" alt="" class="img-90 rounded">
                  </div>
                  <div class="col-sm-7 client-contain">
                      <h6 class="mb-2">Name : John Doe</h6>
                      <h6 class="mb-2">Code : XYZ123</h6>
                      <h6 class="mb-2">Designation : Manager</h6>
                  </div>
                </div>  
            </div>
        </app-card>
      </div>

      <div class="col-sm-4">
        <app-card>
            <div class="client-detail">
                <div class="row align-items-center no-gutters">
                  <div class="col-sm-5 client-profile">
                    <img src="assets/images/avatar-4.jpg" alt="" class="img-90 rounded">
                  </div>
                  <div class="col-sm-7 client-contain">
                      <h6 class="mb-2">Name : John Doe</h6>
                      <h6 class="mb-2">Code : XYZ123</h6>
                      <h6 class="mb-2">Designation : Manager</h6>
                  </div>
                </div>  
              </div>
        </app-card>
      </div>

      <div class="col-sm-4">
          <app-card>
              <div class="client-detail">
                <div class="row align-items-center no-gutters">
                  <div class="col-sm-5 client-profile">
                    <img src="assets/images/avatar-4.jpg" alt="" class="img-90 rounded">
                  </div>
                  <div class="col-sm-7 client-contain">
                      <h6 class="mb-2">Name : John Doe</h6>
                      <h6 class="mb-2">Code : XYZ123</h6>
                      <h6 class="mb-2">Designation : Manager</h6>
                  </div>
                </div>  
              </div>
          </app-card>
        </div>
  
        <div class="col-sm-4">
          <app-card>
              <div class="client-detail">
                  <div class="row align-items-center no-gutters">
                    <div class="col-sm-5 client-profile">
                      <img src="assets/images/avatar-4.jpg" alt="" class="img-90 rounded">
                    </div>
                    <div class="col-sm-7 client-contain">
                        <h6 class="mb-2">Name : John Doe</h6>
                      <h6 class="mb-2">Code : XYZ123</h6>
                      <h6 class="mb-2">Designation : Manager</h6>
                    </div>
                  </div>  
              </div>
          </app-card>
        </div>
  
        <div class="col-sm-4">
          <app-card>
              <div class="client-detail">
                  <div class="row align-items-center no-gutters">
                    <div class="col-sm-5 client-profile">
                      <img src="assets/images/avatar-4.jpg" alt="" class="img-90 rounded">
                    </div>
                    <div class="col-sm-7 client-contain">
                      <h6 class="mb-2">Name : John Doe</h6>
                      <h6 class="mb-2">Code : XYZ123</h6>
                      <h6 class="mb-2">Designation : Manager</h6>
                    </div>
                  </div>  
                </div>
          </app-card>
        </div>

    </div>
  </div>
</div>
