.table.table-sm th{
    background: rgb(241, 241, 241);
}
.border-right{
    border-right: 1px solid #e0e0e0 !important;
}
.border-left{
    border-left: 1px solid #e0e0e0 !important;
}
.border-top{
    border-top: 1px solid #e0e0e0 !important;
}
.border-bottom{
    border-bottom: 1px solid #e0e0e0 !important;
}

.table.table-sm th{
    padding: 0.9rem 2rem !important;
    font-size: 12px !important;
}