<div class="">
  <div class="page-header header-boxshadow">
    <div class="page-block">
      <div class="row align-items-center">

        <div class="col-md-7">
          <div class="page-header-title">
            <span>
              <h4 class="m-b-10 headtext">
                <a [routerLink]="['/payroll/run-new-payroll']">
                  <i class="" class="fa fa-chevron-left headbackbtn" aria-hidden="true"></i>
                </a>
                Payslip
              </h4>
            </span>
          </div>
        </div>  
        <div class="col-md-5"></div>  
      </div>
    </div>
  </div>
</div>




<div class="page-body">
  <div class="container body-pad">
    <div class="row">
        <div class="col-sm-12 body-top-margin">

          <div style="background:#fff; box-shadow: 0px 2px 1px 0px #e0e0e0; border-radius: 5px;">
            
            <div class="row" style="padding:1rem 0.9rem 0rem 0.9rem;">
              <div class="col-sm-2 m-b-30">
                <p>Monthly</p>
                <p>ID/Name</p>
                <p>Designation</p>
                <p>Code</p>
                <p>Department</p>
                <p>Account No.</p>
              </div>
              <div class="col-sm-3 m-b-30">
                <p>January 2018</p>
                <p>203914 Sutash Sangcakul</p>
                <p>Sales Manager</p>
                <p>2365487555</p>
                <p>Front Office</p>
                <p>50112458</p>
              </div>
              <div class="col-sm-7 text-right m-b-30">
                  <img src="assets/images/avatar-4.jpg" alt="" class="img-90 rounded">
              </div>



              <div class="" style="width:100% !important;">
                <table class="table table-sm borderless" style="width:100% !important; margin-bottom: 0px !important;">
                  <tr>
                    <th colspan="2" class="border-bottom">Earning</th>
                    <th class="border-right border-bottom">Amount</th>
                    <th class="border-bottom">Deduction</th>
                    <th class="border-bottom">Amount</th>
                  </tr>

                  <tr>
                    <td colspan="2">Salary</td>
                    <td class="border-right">203455.00</td>
                    <td>Leave W/O</td>
                    <td>0.00</td>
                  </tr>

                  <tr>
                    <td colspan="2">Adjust Salary</td>
                    <td class="border-right">0.00</td>
                    <td>absent</td>
                    <td>0.00</td>
                  </tr>

                  <tr>
                      <td colspan="2">Overtime</td>
                      <td class="border-right">0.00</td>
                      <td>Advance</td>
                      <td>0.00</td>
                  </tr>

                  <tr>
                      <td colspan="2">Housing</td>
                      <td class="border-right">0.00</td>
                      <td>Loan</td>
                      <td>0.00</td>
                  </tr>

                  <tr>
                      <td colspan="2">Car Allowance</td>
                      <td class="border-right">0.00</td>
                      <td>Legal Execution</td>
                      <td>0.00</td>
                  </tr>

                  <tr>
                      <td colspan="2">Diligence Allowance</td>
                      <td class="border-right">0.00</td>
                      <td>Tax</td>
                      <td>0.00</td>
                  </tr>

                  <tr>
                      <td colspan="2">Diligence Allowance</td>
                      <td class="border-right">0.00</td>
                      <td>Tax</td>
                      <td>38522</td>
                  </tr>

                  <tr>
                      <td colspan="2">Bonus</td>
                      <td class="border-right">19,552</td>
                      <td>SSO</td>
                      <td>750.00</td>
                  </tr>

                  <tr>
                      <td colspan="2">Other Allowance</td>
                      <td class="border-right">0.00</td>
                      <td>Provident Fund</td>
                      <td>14,223</td>
                  </tr>

                  <tr>
                      <td colspan="2">Leave Encashment</td>
                      <td class="border-right">0.00</td>
                      <td>Other Deduction</td>
                      <td>0.00</td>
                  </tr>

                  <tr>
                      <td colspan="2">Severance</td>
                      <td class="border-right">0.00</td>
                      <td></td>
                      <td></td>
                  </tr>

                  <tr>
                      <td colspan="2">Mobile Allowance</td>
                      <td class="border-right">0.00</td>
                      <td></td>
                      <td></td>
                  </tr>

                  <tr>
                      <td>Other Income<td>
                      <td class="border-right">0.00</td>
                      <td></td>
                      <td></td>
                  </tr>

                  <tr>
                      <td>STIP<td>
                      <td class="border-right">0.00</td>
                      <td></td>
                      <td></td>
                  </tr>
                </table>
              </div>


              <table class="table table-sm borderless" style="margin-bottom:0px;">
                <tr>
                  <td class="border-top" colspan="2">Total Earning</td>
                  <td class="border-top border-right">222,365.00</td>
                  <td class="border-top">Total Deduction</td>
                  <td class="border-top border-right">53,570.00</td>
                  <td class="border-top">Net Income</td>
                  <td class="border-top">168,670.39</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row m-t-20">
            <div class="col-sm-12">
              <h5 class="h5 text-center">Year To Date</h5>
            </div>
          </div>

          <div style="background:#fff; margin-bottom: 3rem; box-shadow: 0px 2px 1px 0px #e0e0e0; border-radius: 5px;">
            <div class="row">
              <div class="" style="width:100% !important; padding: 0rem 0.9rem 0 0.9rem;">
                <table class="table table-sm borderless" style="margin:0px !important;">
                  <tr>
                    <th class="border-right border-bottom" style="box-shadow: 0px 1px 2px #d9d9d9;">Year to date income</th>
                    <th class="border-right border-bottom" style="box-shadow: 0px 1px 2px #d9d9d9;">Year to date tax</th>
                    <th class="border-right border-bottom" style="box-shadow: 0px 1px 2px #d9d9d9;">Year to date SSO</th>
                    <th class="border-bottom" style="box-shadow: 0px 1px 2px #d9d9d9;">Year to date PVF</th>
                  </tr>

                  <tr>
                      <td class="border-right">222,565.00</td>
                      <td class="border-right">38,597.00</td>
                      <td class="border-right">750.00</td>
                      <td>14223.00</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>          
