<div class="page-body bg-primary">
    <div class="body-pad">
      <div class="row">
          <div class="col-sm-12">

            <div class="content-center">
              <div class="bg-white p-4 text-dark rounded" style="width: 400px">
                <div class="row m-2">

                  <div class="col-sm-12">                    
                    <h4 class="text-center">Configure</h4>                    
                  </div>

                  <div class="col-sm-12 mt-2">
                    <input type="text" class="form-control" placeholder="Company Name">
                  </div>
                  <div class="col-sm-12 mt-3">
                      <input type="text" class="form-control" placeholder="Your Company Code e.g TTT">
                  </div>

                  <div class="col-sm-12 mt-2">

                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font">Select Services</label>                          
                          <div class="col-sm-8">
                            <label class="container-checkbox font mt-2">Payroll Management
                                <input type="checkbox" checked="checked">
                                <span class="checkmark-checkbox"></span>
                            </label>
                          </div>

                          <label class="col-sm-4 col-form-label"></label>
                          <div class="col-sm-8">
                              <label class="container-checkbox font">Time Management
                                  <input type="checkbox" checked="checked">
                                  <span class="checkmark-checkbox"></span>
                              </label>                
                          </div>

                          <label class="col-sm-4 col-form-label"></label>
                          <div class="col-sm-8">
                              <label class="container-checkbox font mt-1">Leave Management
                                  <input type="checkbox" checked="checked">
                                  <span class="checkmark-checkbox"></span>
                              </label>                
                          </div>
                      </div>

                  </div>

                  <div class="col-sm-12">
                    <div class="mt-2">
                      <button class="btn btn-success btn-block rounded text-white">Proceed</button>
                    </div>                   
                  </div>

                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
</div>            

