.not-active {
    pointer-events: none;
    cursor: default;
}
.page-header-title h4{
    color: black !important;
}
.page-header-title[_ngcontent-c4] h4[_ngcontent-c4]{
    font-size: 16px;
    font-weight: 600 !important;
}

.page-header .page-block{
    box-shadow: 0px 0px 10px #f4f4f4 !important;
    position: fixed !important;
    width: 94% !important;
    top: 0px !important;
    background: #ffffff !important;
    z-index: 99;
}
