.sb-item-head {
    padding-left: 32px;
}


.accordion-heading:before {
    content: '\f107';
    color: #1b1b1b;
    font-weight: bold;
    position: absolute;
    line-height: 1;
    font-size: 23px;
    font-family: "FontAwesome";
}


.is-collapsed .accordion-heading:before {
    content: '\f106';
}

.accordion-desc {
    background: #f2f2f2 !important;
}

.accordion-desc{
    padding-top: 16px;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
        margin: 10rem auto !important;
    }
}

select.select-border, select.select-border:hover, select.select-border:focus, select.select-border:active {
    border: 1px solid #959595;
}


.no-border, .no-border:hover, .no-border:focus, .no-border:active {
    border: none;
}


.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-checkbox {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark-checkbox {
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark-checkbox {
    background-color: #8BC34A;
    border: 1px solid #8BC34A;	
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark-checkbox:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark-checkbox:after {
    left: 3px;
    top: 0px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-radio {
    display: block;
    position: relative;
    padding-left: 23px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 15px
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio {
    background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio {
    background-color: #8BC34A;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark-radio:after {
 	top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
	border-radius: 50%;
	background: white;
}


.success input:checked ~ .checkmark-checkbox {
    background-color: #8BC34A;
    border: 1px solid #8BC34A;  
}

.arc-wizard .wizard-steps{
    padding: 0px !important;
}
.basic .basic-close{
    top: 1px !important;
    font-size: 31px !important;
    font-weight: 200 !important;
    right: 25px !important;
}